# MPLAB X Generated Output Folders & Binaries
build/
dist/
disassembly/
debug/
*.o
*.elf
*.hex
*.cof
*.mch
*.map
*.p1
*.d
*.pre
*.sym
*.lst

# MPLAB X Private Settings
nbproject/private/
nbproject/Package-*.bash
nbproject/Makefile-*.mk
*.log

# OS Files
.DS_Store
._*
Thumbs.db
